@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  @apply h-[4px] w-[4px];
}

::-webkit-scrollbar-track {
  @apply bg-white;
}

::-webkit-scrollbar-thumb {
  @apply bg-blue_light;
}

#root {
  min-height: 100vh;
}

.pagination {
  @apply flex justify-center gap-2;
}

html {
  scroll-behavior: smooth;
}

img {
  pointer-events: none;
  user-select: none;
}
